<div ng-controller="tableController" ng-init="showTable()">

  <div class="panel">
    <label for="usersPerPage">Users per page:</label>
    <input type="number" min="1" max="100" class="form-control" ng-model="usersPerPage"/>

    <label for="searchEmail">Search Email:</label>
    <input type="text" class="form-control" ng-model="searchEmail"/>

  </div>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <td>
        </td>
        <td>
          Name
        </td>
        <td>
          Email
          <span ng-click="changeSorting('email')" ng-class="{dropdown: !sort.descending, dropup: sort.descending}">
            <span class="caret"></span>
          </span>
        </td>

        <td>
          Company
        </td>
        <td>
          ID
        </td>
        <td>
          Score
        </td>
      </tr>
    </thead>

    <tbody ng-controller="accountController">
      <tr ng-repeat="user in users | orderBy:sort.column:sort.descending | pagination: curPage * usersPerPage | filter:searchEmail | limitTo: usersPerPage">
        <td ng-class="{danger: user.compromised, success: !user.compromised}"><span ng-click="markCompromised(user.id)" class="glyphicon glyphicon-warning-sign"></span></td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.company }}</td>
        <td>{{ user.id }}</td>
        <td>{{ user.score }}</td>
      </tr>
    </tbody>
  </table>

  <div class="pagination pagination-centered" ng-show="users.length">
    <ul class="pagination-control pagination">
      <li>
      <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
      ng-click="curPage=curPage-1"> &lt; PREV</button>
      </li>
      <li>
      <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
      </li>
      <li>
      <button type="button" class="btn btn-primary"
      ng-disabled="curPage >= users.length/usersPerPage - 1"
      ng-click="curPage = curPage+1">NEXT &gt;</button>
      </li>
    </ul>
  </div>
</div>

